body {
    background-color: #87CEFA; /* Fundo azul claro */
    color: #ffffff; /* Letras brancas */
    font-family: 'Roboto', sans-serif; /* Fonte do Google */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ffffff; /* Cor do botão */
    color: #000; /* Cor do texto do botão */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #dddddd; /* Cor do botão no hover */
}
